#pag. 221, 1116

[client]
port				= 3306
socket				= /var/run/mysqld/mysqld.sock
default-character-set		= latin1
#default-collation		= latin1_general_ci

[mysqld_safe]
socket				= /var/run/mysqld/mysqld.sock
nice				= 0

[mysqld]
user				= mysql
pid-file			= /var/run/mysqld/mysqld.pid
socket				= /var/run/mysqld/mysqld.sock
port				= 3306
basedir				= /usr
datadir				= /home/luciano/cia_mysql
tmpdir				= /tmp
language			= /usr/share/mysql/portuguese
character-set-server		= latin1
#collation-server		= latin1_general_ci
old_passwords			= 0
#max_user_connections	= 0
#max_connections		= 10
max_heap_table_size		= 64000000
wait_timeout			= 1800
flush_time			= 86400
#default-time-zone		= '-03:00'
max_sp_recursion_depth	= 255
bind-address			= 127.0.0.1
#bind-address			= 192.168.0.1
key_buffer			= 16M
max_allowed_packet		= 16M
thread_stack			= 128K
query_cache_limit		= 1048576
query_cache_size		= 16777216
query_cache_type		= 1
#log				= /var/log/mysql/mysql.log
#log-slow-queries		= /var/log/mysql/mysql-slow.log
log-bin				= /var/log/mysql/mysql-bin.log
max_binlog_size			= 104857600
#binlog-do-db			= include_database_name
binlog-ignore-db		= listagem
skip-external-locking
skip-bdb
skip-innodb
ssl-ca				= /etc/mysql/ca-cert.pem
ssl-cert			= /etc/mysql/server-cert.pem
ssl-key				= /etc/mysql/server-key.pem

[mysqlcheck]
user				= Gerenciador
password			= gerenciadorcia

[mysqldump]
user				= Gerenciador
password			= gerenciadorcia
quick
quote-names
#max_allowed_packet		= 16M
compatible			= ansi
#triggers
#routines
#comments=1
hex-blob
complete-insert
#add-drop-table
add-locks
#create-options
#disable-keys
extended-insert
lock-tables
#set-charset
#skip-tz-utc
no-create-db
no-create-info

[mysqladmin]
user				= Gerenciador
password			= gerenciadorcia

[mysqlhotcopy]
user				= Gerenciador
password			= gerenciadorcia

[mysql]

#[isamchk]
#key_buffer			= 16M

# [MYSQL_CLUSTER]
# ndb-connectstring		= 127.0.0.1
